@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.mainBlock {
  min-height: 100vh;
  @include flex(row, center, center, nowrap);
  padding: 100px 0;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .3;
  }


  .container {
    @include container();
    @include flex(row, space-around, center, wrap);


    .greeting {
      @include flex(column, flex-start, flex-start, nowrap);
      color: white;
      width: 300px;
      margin: 0 0 30px;
      font-weight: 300;
      text-transform: capitalize;
      font-size: 26px;
      line-height: 1.1;
      letter-spacing: 5px;
      position: relative;


      span {
        font-size: 25px;


        &:nth-child(2) {
          @include text($titleFontFamily, 50px, 1.2, 400);
          letter-spacing: 5px;
          margin: 10px 0;
          color: #dc965a;


          span {
            @include text($titleFontFamily, 50px, 1.2, 700);
            letter-spacing: 5px;
            position: relative;
            z-index: 0;
            display: inline-block;
            color: #dc965a;


          }
        }

        &:nth-child(3) {
          span {
            @include text($textFontFamily, 20px, 1.1, 400);
            margin: 0;
          }
        }
      }

      @media screen and (max-width: 1143px) {
        align-items: center;
      }
    }
    .particles {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: .3;
    }

    .photo {
      position: relative;
      z-index: 1;
      @media screen and (max-width: 1143px) {
        margin-top: 50px;
      }

      .image {
        height: 350px;
        width: 300px;
        border-radius: 41% 59% 50% 50% / 33% 45% 55% 67%;
        background: var(-#dc965a-color);
        animation: morph 10s linear infinite;
        @include bgSettings();
        background-image: url('../../images/my_photo.jpg');
        background-position: 80% 0;
        @media screen and (max-width: 600px) {
          height: 360px;
          width: 260px;

        }

        @keyframes morph {
          0%, 100% {
            border-radius: 69% 31% 30% 67% / 72% 47% 40% 26%;
          }
          34% {
            border-radius: 63% 37% 36% 64% / 51% 45% 55% 49% ;
          }
          67% {
            border-radius: 48% 52% 64% 36% / 30% 30% 70% 70% ;
          }
        }

      }
    }
  }
}
