.skillsBlock{
    min-height: 100vh;
    background-color: rgb(16,16,16);
    padding: 70px;
}
.skillsContainer{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    display: flex;



}

.skills{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

}
