.work {
    width: 300px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.img_container {
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;

}

.projectInfo {
    padding: 25px 20px;
}

.title {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1px;
    margin: 0 0 2px;
    color: #dc965a;
}

.description {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 400;
    color: #fff;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
}

.link{
    border-radius: 30px !important;
    width: 110px;
    height: 20px;
    background-color: #dc965a !important;
    margin-top: 45px !important;
    margin-bottom: 31px !important;
    text-transform: none !important;
    font-size: 14px !important;
    font-weight: 500;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-style: inherit;
    text-decoration: none;
    color: black;
}




