.work{
    width: 250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.img_container{
    height: 200px;
    width: 100%;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-image:url("https://cdn-icons-png.flaticon.com/512/25/25231.png") ;*/
    background-size: cover;
    background-position: center;
    border:1px solid;
}

.link{
    text-decoration: none;
    user-select: none;
    background: gray;

}

.title{
    border:1px solid;
}

.description{
    border:1px solid;

}