.work {
    width:300px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.img_container {
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;

}

.link {
font-family: Poppins, sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 7px 20px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    color: white;
    max-width: 100px;
    margin: 15px auto;
    z-index: 22;
    text-align: center;
    border-radius: 0;
    width: 100%;
    border: none;
    position: relative;
    background-color: chocolate;
}
:hover{
   color: wheat;
}



.projectInfo{
    padding: 25px 20px;
}

.title {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1px;
    margin: 0 0 2px;
    color: #dc965a;
}

.description {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 400;
    color: #fff;
}